<section class="block block--light" id="language">
    <header class="block__header">
        <h2>Languages</h2>
    </header>
    <div class="container grid grid--1x2">
        <div>
            <h3 class="grid__name">Persian</h3>
        </div>
        <div class="grid__detail">
            <p>Native</p>
        </div>
        <div>
            <h3 class="grid__name">English</h3>
        </div>
        <div class="grid__detail">
            <h4>IELTS</h4>
            <p>R: 6.5</p>
            <p>L: 7.5</p>
            <p>W: 5.5</p>
            <p>S: 6.5</p>
        </div>
        <div>
            <h3 class="grid__name">German</h3>
        </div>
        <div class="grid__detail" style="margin-top:1rem">
            <h4>Kish Institute of Science and Technology</h4>
            <p>A1</p>
        </div>
    </div>
</section>