<section class="block block--light" id="reference">
    <header class="block__header">
        <h2>References</h2>
    </header>
    <div class="container grid grid--1x2">
        <div>
            <h3 class="reference__name">Amin Tousi</h3>
        </div>
        <div class="reference__detail">
            <h4>Chair of Computer Engineering Department</h4>
            <h4>Islamic Azad University (Shiraz Branch)</h4>
            <a href="mailto:amin.tousi@iau.ac.ir">amin.tousi@iau.ac.ir</a>
        </div>
        <div>
            <h3 class="reference__name">Vahid Saffari</h3>
        </div>
        <div class="reference__detail">
            <h4>Faculty of Computer Engineering</h4>
            <h4>Islamic Azad University (Shiraz Branch)</h4>
            <a href="mailto:vahid.saffari@iau.ac.ir">vahid.saffari@iau.ac.ir</a>
        </div>
        <div>
            <h3 class="reference__name">Iman Badrooh</h3>
        </div>
        <div class="reference__detail">
            <h4>Faculty of Computer Engineering</h4>
            <h4>Islamic Azad University (Shiraz Branch)</h4>
            <a href="mailto:iman.badrooh@iau.ac.ir">iman.badrooh@iau.ac.ir</a>
        </div>
        <div>
            <h3 class="reference__name">Roya Behroozi</h3>
        </div>
        <div class="reference__detail">
            <h4>Faculty of Computer Engineering</h4>
            <h4>Islamic Azad University (Shiraz Branch)</h4>
            <a href="mailto:roya.behroozi@iau.ac.ir">roya.behroozi@iau.ac.ir</a>
        </div>
    </div>
</section>