<section class="block block--light" id="work">
    <header class="block__header">
        <h2>Work Experiences</h2>
    </header>
    <div class="container">
        <div class="steps work__steps">
                <div class="card card--primary card--left" data-aos="flip-left" data-aos-delay="50">
                    <h3 class="card__header">Computer Technician (Part-time)</h3>
                    <div class="card__body">
                        <h4 class="work__place">APADANA Store</h4>
                        <p class="work__p">Aug 2021 - Present</p>
                    </div>
                </div>
                <div class="card card--primary card--right" data-aos="flip-right" data-aos-delay="100">
                    <h3 class="card__header">Internship</h3>
                    <div class="card__body">
                        <h4 class="work__place">Shiraz Petrochemical</h4>
                        <p class="work__p">23 Sep 2021 - 30 Nov 2021</p>
                    </div>
                </div>
            </div>
    </div>