<section class="block block--light" id="education">
    <header class="block__header">
        <h2>Education</h2>
    </header>
    <div class="container">
        <div class="education__steps">
            <div class="card card--secondary card--left" data-aos="flip-left" data-aos-delay="50">
                <h3 class="card__header">Articulated Bachelor of Computer Engineering, IT</h3>
                <div class="card__body">
                    <h4>Islamic Azad University (Shiraz Branch)</h4>
                    <p>Jan 2019 to Aug 2022</p>
                    <p>GPA: 15.72 / 20</p>
                    <a class="btn btn--secondary education__reference" href="#reference">References</a>
                </div>
            </div>
            <div class="card card--primary card--right" data-aos="flip-right" data-aos-delay="100">
                <h3 class="card__header">Pre-University in Mathematic Sciences</h3>
                <div class="card__body">
                    <h4>Kharazmi Pre-University Center</h4>
                    <p>Sep 2015 - Jun 2016</p>
                    <p>GPA: 16.64 / 20</p>
                </div>
            </div>
            <div class="card card--primary card--left" data-aos="flip-left" data-aos-delay="150">
                <h3 class="card__header">High School in Experimental Sciences</h3>
                <div class="card__body">
                    <h4>Shahid Dastgheib High School</h4>
                    <p>Sep 2011 - Jun 2014</p>
                    <p>GPA: 17.74 / 20</p>
                </div>
            </div>
        </div>
    </div>
</section>