<section class="block block--dark">
    <div class="container grid grid--1x2">
        <header class="block__header banner__content">
            <p class="banner-text text-uppercase">Hello!</p>
            <p class="banner-text">I’m</p><h1>Amir Hossein Zarei</h1>
            <h4>Web Designer</h4>
            <div class="banner__icons">
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#phone-svgrepo-com"></use>
                    </svg>
                </span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#github-square-svgrepo-com"></use>
                    </svg>
                </span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#linkedin-svgrepo-com"></use>
                    </svg>
                </span>
                <span class="icon-container">
                    <svg class="icon">
                        <use xlink:href="images/sprite.svg#instagram-svgrepo-com"></use>
                    </svg>
                </span>
            </div>
            <button href="#contact-me" class="btn btn--primary">Get in Touch</button>
        </header>
        <img class="banner__image" src="/images/avatar.webp" alt="amirhossein zarei">
    </div>
</section>