<header>
    <nav class="nav collapsible">
        <a class="nav__header" href="/">AMIR</a>
        <svg class="icon nav__toggler">
            <use xlink:href="images/sprite.svg#menu-1-svgrepo-com"></use>
        </svg>
        <ul class="list nav__list collapsible__content">
            <li class="list__item"><a class="link--nav" href="#about">About</a></li>
            <li class="list__item"><a class="link--nav" href="#education">Education</a></li>
            <li class="list__item"><a class="link--nav" href="#work">Work</a></li>
            <li class="list__item"><a class="link--nav" href="#language">Languages</a></li>
            <li class="list__item"><a class="link--nav" href="#course">Course</a></li>
            <li class="list__item"><a class="link--nav" href="#skill">Skills</a></li>
            <li class="list__item"><a class="link--nav" href="#contact-me">Contact</a></li>
        </ul>
    </nav>
</header>