</section>
<section class="block block--primary" id="skill">
    <header class="block__header">
        <h2>Skills</h2>
    </header>
    <div class="container grid grid--1x2">
        <div>
            <h3 class="grid__name">WEB</h3>
        </div>
        <div class="grid__detail">
            <h4>HTML</h4>
            <h4>CSS</h4>
            <h4>JavaScript</h4>
            <h4>PHP</h4>                            
            <h4>WordPress</h4>
        </div>
        <div>
            <h3 class="grid__name">Network</h3>
        </div>
        <div class="grid__detail">
            <h4>Network+</h4>
            <h4>CCNA</h4>
        </div>
        <div>
            <h3 class="grid__name">Programming Languages</h3>
        </div>
        <div class="grid__detail">
            <h4>Python Object-Oriented</h4>
            <h4>Java Object-Oriented</h4>
            <h4>C++</h4>
        </div>
        <div>
            <h3 class="grid__name">Operating System</h3>
        </div>
        <div class="grid__detail">
            <h4>Microsoft Windows</h4>
            <h4>macOS</h4>
            <h4>Linux</h4>
        </div>
        <div>
            <h3 class="grid__name">MS Office</h3>
        </div>
        <div class="grid__detail">
            <h4>Word</h4>
            <h4>PowerPoint</h4>
            <h4>Excel</h4>
        </div>
        <div>
            <h3 class="grid__name">Machine Learning</h3>
        </div>
        <div class="grid__detail">
            <h4>NumPy Library</h4>
            <h4>Pandas Library</h4>
            <h4>Matplotlib Library</h4>
            <h4>Linear Regression</h4>
        </div>
        <div>
            <h3 class="grid__name">Database</h3>
        </div>
        <div class="grid__detail">
            <h4>SQL</h4>
            <h4>PMy SQL</h4>
        </div>
    </div>
</section>