<section class="block block--light about__block" id="about">
    <div class="container grid grid--1x2">
        <p class="about__text">
            I am passionate about UI/UX design and Web Design.
            I am front-end designer student and also IT engineer.
            I am a quick learner and a team worker that gets the job done.
            I can easily capitalize on low hanging fruits and quickly maximize
            timely deliverables for real-time schemas.
        </p>
        <div class="grid grid--1x2 about__grid">
            <div class="about__col-1">Age</div>
            <div class="about__col-2">25</div>
            <div class="about__col-1">Email</div>
            <div class="about__col-2">amirzareireact@gmail.com</div>
            <div class="about__col-1">Phone</div>
            <div class="about__col-2">+98-9177878543</div>
            <div class="about__col-1">Skype</div>
            <div class="about__col-2">amirzr9797</div>
            <div class="about__col-1">Address</div>
            <div class="about__col-2">Unit1,Maher bldg.,Alley5,Baharan St.,Maaliabad Blvd.,Shiraz,Iran,Postal Code:7187654415</div>
        </div>
    </div>
</section>