<section class="block block--light">
    <div class="container">
        <header class="block__header">
            <h2>Heading</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid voluptates impedit voluptas voluptatibus molestiae
                architecto omnis voluptate eveniet obcaecati libero.
            </p>
        </header>
    </div>
</section>
<section class="block block--dark">
    <div class="container">
        <header class="block__header">
            <h2>Heading</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid voluptates impedit voluptas voluptatibus molestiae
                architecto omnis voluptate eveniet obcaecati libero.
            </p>
        </header>
    </div>
</section>