<div class="skill">
    <div class="card card--secondary">
        <header class="card__header">
            <h3 class="skill__name">Web</h3>
        </header>
        <div class="card__body">
            <ul>
                <li class="skill__item">HTML</li>
                <li class="skill__item">CSS</li>
                <li class="skill__item">JavaScript</li>
                <li class="skill__item">PHP</li>
                <li class="skill__item">WordPress</li>
            </ul>
        </div>
        <button href="#" class="btn btn--secondary btn--skill">Get in Touch</button>
    </div>
</div>